* {
  color: #2B6199;
  font-family: 'Black Han Sans', sans-serif;
}

body {
    text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: -100px;
}

p {
  font-size: 1em;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  font-size: 1.2em;
}

#row {
  height: 120px !important;
}

#boat {
	/*z-index: 1;*/
	position: relative;
	max-width: 180px;
	top:105px;
	right:-55%;
	;
}

#scoreTracker {
  font-size: 1.3em;
}
.modal-backdrop {
  background-color: #2B6199 !important;
  opacity: 1 !important;
}

#girl, #boy {
  margin: 10px;
  max-width: 150%;
  border: 5px solid transparent;
}

#girl:hover, #boy:hover {
  border-radius: 5px;
  border: 5px solid #cccccc;
}

.gameOverMessage {
  font-size: 1.3em;
  color: #ca5153;
}


@keyframes rock {
    from {
    	transform:rotate(3deg);
    }
    to {
    	transform:rotate(-3deg);
    }
}

 /*The element to apply the animation to */
#boat {
	animation-iteration-count: infinite;
    animation-name: rock;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    transition-timing-function: ease-out;
}

@media (min-width:992px) {
  #boat {
  	right: -53%;
  }
}
